.App {
  @import "LDSRipple";
  .lds-ripple {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .NegativeMargin {
    margin: 35px auto -35px;
  }
  @import "Login";
  @import "Bootstrap/Header";
  @import "FBBox";
  @import "Sidebar";
  @import "Sprites";
  @import "Feed";
  @import "Main";
}
